html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

summary {
  cursor: pointer;
}

@media (max-width: 780px) {
  .container{
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .welcome{
    flex-direction: column !important;
  }

  .welcome-img-container{
    align-self: baseline;
  }
}

img.welcome {
  max-width: 300px;
  border-radius: 50%;
  margin-right: 2em;
}

.welcome{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.items-center{
  align-items: center;
}
